<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>weezper - shh...</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <h1>i dare you to close this fucking tab.</h1>
        <div id="message">
            {{ message }}
        </div>
    </body>
</html>
