body {
  padding: 50px;
  font: 14px "Courier New";

}

#message, input {
    width: 100%;
    line-height: 30px;
    font: inherit;
    font-size: 20px;
    border-bottom: 1px solid #E4E4E4;
}

input {
    outline: none;
    border: none;
}